.env
/agents-website/node_modules/
.idea/chatbot.iml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
