/* html {
    height: 100%;
    background-color: #f9f9f9;
} */

::selection {
    background-color: #ff882e;
}

div {
    margin: 0;
}

body * {
    font-family: "Manrope", sans-serif;
    text-align: center;
    color: rgb(9, 6, 4);;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    padding: 20px 32px 0;
    width: 100%;
}

h1 {
    text-align: left;
    color: rgb(29, 29, 29);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 0 auto;
    width: 50%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center
}

.didImage {
    vertical-align: text-bottom;
    padding-right: 0.2rem;
    width: 48px;
}

#previewName {
    font-size: 20px
}

#connectionLabel {
    font-weight: lighter;
    font-size: smaller;
    display: inline-block
}

.inputsDiv {
    display: flex;
    width: 100%;
}

button {
    font-size: 16px;
}

.mainInput {
    height: 52px;
    margin-bottom: 12px;
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 0;
    position: relative;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--focus, rgba(255, 255, 255, .6));
    z-index: 4;
    border-radius: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
    -webkit-transition: height .3s ease, background-color .3s ease;
    transition: height .3s ease, background-color .3s ease;
}

.mainInput>textarea {
    position: relative;
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;
    text-align: left;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    color: var(--did-secondary-shades-800);
    margin-top: 10px;
    -webkit-transition: margin-top .2s ease;
    transition: margin-top .2s ease;
    line-height: 20px;
}

.mainInput .roundButton {
    height: 36px;
}

.roundButton {
    height: 100%;
    aspect-ratio: 1;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background: #efefef;
    border-radius: 100vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .07);
    box-shadow: 0 3px 3px #00000012;
    -webkit-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out;
}

.roundButton:disabled * {
    color: rgba(16, 16, 16, 0.3)
}

.roundButton:hover {
    background-color: rgb(249, 249, 249);
}

.roundButton:disabled:hover {
    background-color: #efefef;
}

#speechButton {
    color: black;
}

#speechButton:disabled,
#actionButton:disabled {
    color: rgba(16, 16, 16, 0.3)
}

.button {
    color: rgb(9, 6, 4);
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.4px;
    gap: 16px;
    margin: 0.5rem;
    outline: none;
    cursor: pointer;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 6px;
    transition: background-color 150ms ease;
}

.button:hover {
    background-color: rgb(249, 249, 249);
}

.button:disabled {
    color: rgb(152, 152, 152);
    background-color: white;
    cursor: default;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons input[type="radio"] {
    display: none;
}

#buttons input[type="radio"]+label {
    color: rgb(152, 152, 152);
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
}

#buttons input[type="radio"]+label:hover {
    background-color: rgb(249, 249, 249);
}

/* Label as selected (active radio) */
#buttons input[type="radio"]:checked+label {
    color: rgb(9, 6, 4);
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(235, 235, 235);
}

#answers {
    height: 200px;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.agentMessage {
    border-radius: 0 16px 16px;
    border: 1px solid var(--Blacks-300, #dbdbdb);
    margin-right: auto;
    position: relative;
    min-width: 50px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
}

.userMessage {
    border-radius: 14px;
    background: var(--blacks-100, #f3f3f3);
    padding: 10px 16px;
    margin-left: auto;
    min-width: 50px;
    max-width: max-content;
    display: flex;
    justify-content: flex-end;
}

.ratingButtons {
    align-self: flex-end;
}

#videoElement,
#idleVideoElement {
    width: 100%;
    height: 100%;
}

#video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
}

#hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 75vh;
    margin: 0 auto;
    justify-content: center;
}

#reconnectButton {
    color: white;
    background-color: rgb(9, 6, 4);
}

#reconnectButton:hover {
    background-color: #2B2A28;
}